<body class="body"> 
    
    <main class="land_main">

        <section class="land_main_section1">
            <figure>
                 <%=image_tag 'logo.webp'%>   
            </figure>
        </section>

    </main>

    <footer class="land_footer">
        <ul class="land_footer_listbox list_style_none">
        <li class="land_login">
        <%= link_to 'LOG IN', new_user_session_path, class:'landfont1 td_none' %> </li>
        <li class="land_signin"><%= link_to 'SIGN UP', new_user_registration_path, class:'landfont2 td_none' %></li> 
        </ul>
    </footer>

</body>