<%= render "form", payment: @payment %>

<br>

<div>
  <p class="register_font4">
  <%= link_to 'Back to Category', category_path(@category), class:'td_none login_font3a', data:{turbo: false} %></p> 
</div>