.transaction-nav {
  background: #0084ff;
  width: 100%;
}

.transaction-nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  align-items: center;
}

.transaction-nav ul a {
  text-decoration: none;
  color: #fff;
  font-size: large;
}

.transaction-nav ul form {
  margin-top: 0;
  width: fit-content;
}

.image img {
  width: 30px;
}

.trans-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sect-one {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.trans-btn {
  width: fit-content;
  background-color: #0084ff;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  padding: 0.2rem;
  transition: all 0.3s ease;
}

.trans-btn:hover {
  background: #fff;
  border: 1px solid #0084ff;
  border-radius: 0.2rem;
}

.new-transection-btn {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.new-transection-btn:hover {
  color: #0084ff;
}
