<p style="color: green"><%= notice %></p>
<%= render "form", category: @category %>

<br>

<section class="sect-two-category-show">
 
  <%= link_to 'Back to categories', categories_path, class:'td_none login_font3a' %> 
</section>