<p style="color: green"><%= notice %></p>
<%= render "form", category: @category %>

<br>

<div>
  <p class="register_font4">
  <%= link_to 'Back to categories', categories_path, class:'td_none login_font3a' %></p> 
</div>